@media (max-width: 450px){
/*Общие стили*/

html,
body{
	margin: 0;
	padding: 0;
	max-width: 320px;
}

.display-none{
	display: none;
}


/*Footer*/

.flex-wrapper{
	display: flex;
	background-color: #11212F;
	padding: 21px;
}

.main-header{
	background-image: url(../img/bg-back-mobile@4x.jpg);
	background-size: 320px auto;
	font-family: 'Open Sans Bold', sans-serif;
}

.header-logo{
	width: 257px;
	height: 288px;
}


/*Часть загрузки*/

.download-menu{
	background-color: #11212F;
}

.download-menu__title{
	display: none;
}

.download-menu__button{
	font-family: 'Open Sans Bold', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 18px;
	border: 3px solid #ffffff;
	border-radius: 50px;
	padding: 17px;
	margin-top: 27px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 240px;
	text-align: center;
	text-decoration: none;
}

.download-menu__platform-logo{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: baseline;
	color: #ffffff;
	padding-left: 57px;
	padding-right: 57px;
	padding-top: 20px;
}

.download-menu__platform-info{
	font-family: 'Open Sans Light', sans-serif;
	color: #B1B2B3;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	padding-left: 43px;
	padding-right: 43px;
	padding-bottom: 30px;
}


/*Преимущества*/

.advantages{
	text-align: center;
}

.advantages__wrapper-logo__desctop{
	display: none;
}

.advantages__names{
	font-family: 'Open Sans Light', sans-serif;
	background-color: #ffffff;
	color: #707B84;
	font-size: 24px;
	padding-left: 57px;
	padding-right: 57px;
}

.advantages__caption1{
	padding-top: 15px;
	padding-bottom: 10px;
}

.advantages__caption2{
	padding-bottom: 30px;
}

.advantages__list{
	background-color: #F2F2F2;
	list-style-type: none;
	padding-top: 45px;
	padding-left: 28px;
	padding-right: 28px;
}

.advantages__item{
	margin-bottom: 35px;
}

.advantages__item:last-child{
	margin-bottom: -18px;
}

.advantages__title{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
}

.advantages__description{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-top: -10px;
	color: #707B84;
}

.advantages__wrapper-logo{
	background-color: #F2F2F2;
	padding-top: 45px;
}

.time24{
	display: none;
}


/*Комментарии*/

.reviews__img,
.reviews__btn-left,
.reviews__btn-right{
	display: none;
}

.reviews{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 35px;
	padding-bottom: 45px;
}

.invisible{
	display: none;
}

.reviews__author-name{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: -10px;
}

.reviews__text{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #707B84;
	padding-bottom: 10px;
}


/*Прайс*/

.price{
	background-color: #F2F2F2;
	padding-top: 90px;
	padding-bottom: 40px;
}

.price__list{
	width: 100%;
	border-collapse: collapse;
}

.price__list-name{
	background-color: #1B3344;
	color: #ffffff;
	padding-top: 19px;
	padding-bottom: 19px;
}

.price__title{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

.price__many{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 24px;
	line-height: 30px;
}

.price__line{
	background-color: #ffffff;

}

.price__name{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 30px;
	border: 2px solid #E6E6E6;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 44px;
}

.price__value{
	border: 2px solid #E6E6E6;
	padding-left: 20px;
}

.slider__toggles--bottom{
	text-align: center;
	margin-top: 40px;
}


/*Footer*/

.page-footer{
	text-align: center;
	padding-top: 10px;
}

.page-footer__contacts{
	list-style-type: none;
	margin-right: 20px;
}

.page-footer__title{
	font-family: 'Open Sans Light', sans-serif;
	color: #707B84;
	font-size: 24px;
}

.contacts__title{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	padding-top: 10px;
}

.contacts__text{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 24px;
	color: #d22856;
	margin-top: -20px;
}
}


@media (min-width: 451px)
{
	*{
		margin: 0;
		padding: 0;
	}
	body{
		padding: 0;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}

	.main-page{
		position: relative;
	}


	/*Footer*/
	.main-header{
		background-image: url(..//img/bg-back-tablet@2x.jpg);
		background-repeat: no-repeat;
		background-size: 1200px 853px;	
		height: 853px;
		position: relative;
	}
	
	.main-nav{
		position: relative;
		background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
	}

	.main-nav__toggle{
		display: none;
	}

	.main-nav__wrapper{
		width: 750px;
		padding-left: 448px;
		padding-top: 48px;
		padding-bottom: 48px;
		
	}

	.main-nav__list{
		display: flex;
		list-style-type: none;
	}

	.site-list__item{
		margin-right: 79px;
	}

	.site-list__item-link{
		font-family: 'Open Sans Regular', sans-serif;
		font-size: 18px;
		line-height: 18px;
		color: #ffffff;
		text-decoration: none;
	}

	.link-index{
		width: 90px;
		height: 50px;
		position: absolute;
		left: 200px;
		top: 44px;
	}

	.header-logo{
		width: 568px;
		position: absolute;
		bottom: 0;
		right: 172px;
	}

	.download-menu__button{
	font-family: 'Open Sans Bold', sans-serif;
	color: #ffffff;
	font-size: 21px;
	line-height: 18px;
	border: 3px solid #ffffff;
	border-radius: 50px;
	padding: 17px;
	display: inline-block;
	width: 260px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
}

	.download-menu{
		position: absolute;
		top: -635px;
		width: 300px;
		margin-left: 120px;
	}

	.download-menu__title{
	display: block;
	font-family: 'Open Sans Light', sans-serif;
	color: #ffffff;
	font-size: 50px;
	line-height: 65px;
	text-align: center;
	margin-bottom: 45px; 
	}

	.download-menu__platform-logo{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: baseline;
	color: #ffffff;
	width: 210px;
	padding-left: 35px;
	padding-right: auto;
	padding-top: 20px;
	margin-bottom: 45px;
}

.download-menu__platform-info{
	font-family: 'Open Sans Light', sans-serif;
	color: #B1B2B3;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	padding-bottom: 30px;
}


/*Преимущества*/

.advantages{
	text-align: center;
	background-color: #F2F2F2;
}

.advantages__names{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 50px;
	width: 100%;
	padding-top: 65px;
	color: #283645;
	display: inline-block;
	padding-bottom: 50px;
	background-color: #FFFFFF;
}

.advantages__caption1{
	margin-left: auto;
	margin-right: auto;
	width: 734px;
}

.advantages__caption2{
	width: 417px;
	margin-left: auto;
	margin-right: auto;
}

.advantages__wrapper-logo{
	display: none;
}

.advantages__wrapper-logo__desctop{
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 935px;
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
}

.advantages__list{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	width: 945px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 57px;
}

.advantages__item{
	width: 242px;
}

.advantages__title{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	width: 224px;
	margin-left: auto;
	margin-right: auto;
}

.advantages__description{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #283645;
	margin-top: 23px;
}

.time24{
	display: flex;
	padding-top: 62px;
	padding-bottom: 70px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: left;
}

.time24__timer{
	
}

.time24 span{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 120px;
	color: #F42357;
	position: absolute;
	top: 187px;
	left: 85px;
}

.timer24__item{
	width: 530px;
	margin-left: 66px;
	margin-top: 95px;
}

.timer24__title{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 24px;
}

.timer24__description{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #283645;
	margin-bottom: 30px;
}

.timer24__link{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #F42357;
}


/*Комментарии*/

.reviews{
	text-align: center;
	padding-top: 70px;
}

.reviews__toggles{
	display: none;
}

.reviews__wrapper{
	width: 690px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.reviews__img{
	margin-bottom: 47px;
}

.reviews__item{
	display: flex;
	flex-direction: column-reverse;
}

.reviews__author-name{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 24px;
	line-height: 30px;
	margin-top: 37px;
	margin-bottom: 1px;
	color: #000000;
}

.reviews__text{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #283645;
}

.reviews__btn-left,
.reviews__btn-right{
	top: 150px;
	position: absolute;
}

.reviews__btn-left{
	left: -115px;
}

.reviews__btn-right{
	right: -135px;
}

.invisible{
	display: none;
}


/*Прайс*/

.price{
	display: none;
}

.desctop__price{
	background-color: #F2F2F2;
	text-align: center;
}

.price__list{
	width: 940px;
	background-color: #ffffff;
	border-collapse: collapse;
}

.price__list
{
	margin-left: auto;
	margin-right: auto;
}

.desctop__price__list{
	margin-left: 365px;
}

.price__name,
.price__value{
	width: 235px;
}
.price__name,
.price__value{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 30px;
	border: 2px solid #E6E6E6;
	padding-top: 14px;
	padding-bottom: 14px;
}

.desctop__price__list{
	
	background-color: #ffffff;
	border-collapse: collapse;
	border: 0px solid #E6E6E6;

}

.desctop__price-value{
	border-top: 0px;
	border-bottom: 0px;
	width: 232px;
}

}