/*Общие стили*/

html,
body{
	margin: 0;
	padding: 0;
	max-width: 320px;
}

.display-none{
	display: none;
}


/*Footer*/

.flex-wrapper{
	display: flex;
	background-color: #11212F;
	padding: 21px;
}

.main-header{
	background-image: url(../img/bg-back-mobile@4x.jpg);
	background-size: 320px auto;
	font-family: 'Open Sans Bold', sans-serif;
}


/*Часть загрузки*/

.download-menu{
	background-color: #11212F;
}

.download-menu__button{
	font-family: 'Open Sans Bold', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 18px;
	border: 3px solid #ffffff;
	border-radius: 50px;
	padding: 17px;
	margin-top: 27px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 240px;
	text-align: center;
	text-decoration: none;
}

.download-menu__platform-logo{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: baseline;
	color: #ffffff;
	padding-left: 57px;
	padding-right: 57px;
	padding-top: 20px;
}

.download-menu__platform-info{
	font-family: 'Open Sans Light', sans-serif;
	color: #B1B2B3;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	padding-left: 43px;
	padding-right: 43px;
	padding-bottom: 30px;
}


/*Преимущества*/

.advantages{
	text-align: center;
}

.advantages__names{
	font-family: 'Open Sans Light', sans-serif;
	background-color: #ffffff;
	color: #707B84;
	font-size: 24px;
	padding-left: 57px;
	padding-right: 57px;
}

.advantages__caption1{
	padding-top: 15px;
	padding-bottom: 10px;
}

.advantages__caption2{
	padding-bottom: 30px;
}

.advantages__list{
	background-color: #F2F2F2;
	list-style-type: none;
	padding-top: 45px;
	padding-left: 28px;
	padding-right: 28px;
}

.advantages__item{
	margin-bottom: 35px;
}

.advantages__item:last-child{
	margin-bottom: -18px;
}

.advantages__title{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
}

.advantages__description{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-top: -10px;
	color: #707B84;
}

.advantages__wrapper-logo{
	background-color: #F2F2F2;
	padding-top: 45px;
}


/*Комментарии*/

.reviews{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 35px;

}

.invisible{
	display: none;
}

.reviews__author-name{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: -10px;
}

.reviews__text{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #707B84;
	padding-bottom: 10px;
}