@media (max-width: 450px){
/*Общие стили*/

html,
body{
	margin: 0;
	padding: 0;
	max-width: 320px;
}

.display-none{
	display: none;
}


/*Footer*/

.flex-wrapper{
	display: flex;
	background-color: #11212F;
	padding: 21px;
}

.link-index{
	background-image: url(..//img/logo-pink-white-mobile.svg);
	background-repeat: no-repeat;
	width: 75px;
	height: 35px;
}

.link-index a{
	width: 75px;
	height: 25px;
	display: inline-block;
}

.main-header{
	background-image: url(../img/bg-back-mobile@4x.jpg);
	background-size: 320px auto;
	font-family: 'Open Sans Bold', sans-serif;
}

.header-logo{
	width: 257px;
	height: 288px;
	margin-bottom: -3px;
}

.main-nav{
	position: relative;
}

.main-nav__toggle{
	position: absolute;
	top: -5px;
	left: 200px;
}

/*Часть загрузки*/

.download-menu{
	background-color: #11212F;
}

.download-menu__title{
	display: none;
}

.download-menu__button{
	font-family: 'Open Sans Bold', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 18px;
	border: 3px solid #ffffff;
	border-radius: 50px;
	padding: 17px;
	margin-top: 27px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	width: 240px;
	text-align: center;
	text-decoration: none;
}

.download-menu__platform-logo{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: baseline;
	color: #ffffff;
	padding-left: 57px;
	padding-right: 57px;
	padding-top: 20px;
}

.download-menu__platform-info{
	font-family: 'Open Sans Light', sans-serif;
	color: #B1B2B3;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	padding-left: 43px;
	padding-right: 43px;
	padding-bottom: 30px;
}


/*Преимущества*/

.advantages{
	text-align: center;
}

.advantages__wrapper-logo__desctop{
	display: none;
}

.advantages__names{
	font-family: 'Open Sans Light', sans-serif;
	background-color: #ffffff;
	color: #707B84;
	font-size: 24px;
	padding-left: 57px;
	padding-right: 57px;
}

.advantages__caption1{
	padding-top: 15px;
	padding-bottom: 10px;
}

.advantages__caption2{
	padding-bottom: 30px;
}

.advantages__list{
	background-color: #F2F2F2;
	list-style-type: none;
	padding-top: 45px;
	padding-left: 28px;
	padding-right: 28px;
}

.advantages__item{
	margin-bottom: 35px;
}

.advantages__item:last-child{
	margin-bottom: -18px;
}

.advantages__title{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
}

.advantages__description{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-top: -10px;
	color: #707B84;
}

.advantages__wrapper-logo{
	background-color: #F2F2F2;
	padding-top: 45px;
}

.time24{
	display: none;
}


/*Комментарии*/

.reviews__img,
.reviews__btn-left,
.reviews__btn-right{
	display: none;
}

.reviews{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 35px;
	padding-bottom: 45px;
}

.invisible{
	display: none;
}

.reviews__author-name{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: -10px;
}

.reviews__text{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #707B84;
	padding-bottom: 10px;
}


/*Прайс*/

.desctop__price{
	display: none;
}

.price{
	background-color: #F2F2F2;
	padding-top: 90px;
	padding-bottom: 40px;
}

.price__list{
	width: 100%;
	border-collapse: collapse;
}

.price__list-name{
	background-color: #1B3344;
	color: #ffffff;
	padding-top: 19px;
	padding-bottom: 19px;
}

.price__title{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

.price__many{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 24px;
	line-height: 30px;
}

.price__line{
	background-color: #ffffff;

}

.price__name{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 30px;
	border: 2px solid #E6E6E6;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 44px;
}

.price__value{
	border: 2px solid #E6E6E6;
	padding-left: 20px;
}

.slider__toggles--bottom{
	text-align: center;
	margin-top: 40px;
}


/*Footer*/

.page-footer{
	text-align: center;
	padding-top: 10px;
}

.page-footer__contacts{
	list-style-type: none;
	margin-right: 20px;
}

.page-footer__title{
	font-family: 'Open Sans Light', sans-serif;
	color: #707B84;
	font-size: 24px;
}

.contacts__title{
	font-family: 'Open Sans Bold', sans-serif;
	color: #000000;
	font-size: 18px;
	padding-top: 10px;
}

.contacts__text{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 24px;
	color: #d22856;
	margin-top: -20px;
}

.page-map{
	width: 100%;
}

.desctop--page-map{
	display: none;
}

.page-footer__social{
	display: none;
}

}


@media (min-width: 451px)
{
	*{
		margin: 0;
		padding: 0;
	}
	body{
		padding: 0;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		box-shadow: 0.1em 0.1em 0.4em 8px rgba(122,122,122,0.4);
	}

	.main-page{
		position: relative;
	}


	/*Footer*/
	.main-header{
		background-image: url(..//img/bg-back-tablet@2x.jpg);
		background-repeat: no-repeat;
		background-size: 1200px 853px;	
		height: 395px;
		position: relative;
	}

	.main-nav{
		position: relative;
		background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0));
	}

	.main-nav__toggle{
		display: none;
	}

	.main-nav__wrapper{
		width: 750px;
		padding-left: 448px;
		padding-top: 48px;
		padding-bottom: 48px;
		
	}

	.main-nav__list{
		display: flex;
		list-style-type: none;
	}

	.site-list__item{
		margin-right: 79px;
	}

	.site-list__item-link{
		font-family: 'Open Sans Regular', sans-serif;
		font-size: 18px;
		line-height: 18px;
		color: #ffffff;
		text-decoration: none;
	}

	.link-index{
		background-image: url(..//img/logo-pink-white-desktop.svg);
		background-repeat: no-repeat;
		width: 150px;
		height: 50px;
		position: absolute;
		left: 130px;
		top: 30px;
	}


	.download-menu{
		width: 365px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}

	.download-menu__title{
	display: block;
	font-family: 'Open Sans Light', sans-serif;
	color: #ffffff;
	font-size: 50px;
	line-height: 65px;
	text-align: center;
	margin-bottom: 45px; 
	}


/*Преимущества*/

.advantages{
	text-align: center;
	background-color: #FFFFFF;
}

.advantages__names{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px; 
	width: 100%;
	padding-top: 65px;
	color: #283645;
	display: inline-block;
	padding-bottom: 50px;
	background-color: #FFFFFF;
}

.advantages__caption1{
	margin-left: auto;
	margin-right: auto;
	width: 734px;
}

.advantages__caption2{
	width: 417px;
	margin-left: auto;
	margin-right: auto;
}

.advantages__wrapper-logo{
	display: none;
}

.advantages__wrapper-logo__desctop{
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/photo/panorama-desktop.jpg);
	background-size: 1220px 506px;
	background-repeat: no-repeat;
	background-color: #F2F2F2;
	min-height: 506px;
}

.advantages__wrapper-logo__desctop span{
	display: inline-block;
	font-family: 'Open Sans Bold', sans-serif;
	font-weight: bolder;
	font-size: 12px;
	line-height: 24px;
	margin-top: 50px;
	margin-left: 840px;
	padding: 6px 0;
	background-color: #F42357;
	color: #FFFFFF;
	width: 140px;
}

.advantages__coments{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	width: 940px;
	margin: 0 auto;
	background-color: #F2F2F2;
	padding: 20px;
}

.advantages__name-time{
	display: flex;
	align-items: baseline;
}

.advantages__name{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #283645;
	padding-right: 5px;
}

.advantages__time{
	font-family: 'Open Sans Lighter', sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #283645;
}

.advantages__assessment span{
	font-family: 'Open Sans Lighter', sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #F42357;
	padding-right: 10px;
}

.advantages__description{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #283645;
;
}

.time24{
	display: flex;
	padding-top: 62px;
	padding-bottom: 70px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: left;
}

.time24__timer{
	
}

.time24 span{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 120px;
	color: #F42357;
	position: absolute;
	top: 187px;
	left: 85px;
}

.timer24__item{
	width: 530px;
	margin-left: 66px;
	margin-top: 95px;
}

.timer24__title{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 24px;
}

.timer24__description{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #283645;
	margin-bottom: 30px;
}

.timer24__link{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #F42357;
}


/*Комментарии*/

.reviews{
	text-align: center;
	padding-top: 70px;
}

.reviews__toggles{
	display: none;
}

.reviews__wrapper{
	width: 690px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.reviews__img{
	margin-bottom: 47px;
}

.reviews__item{
	display: flex;
	flex-direction: column-reverse;
}

.reviews__author-name{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 24px;
	line-height: 30px;
	margin-top: 37px;
	margin-bottom: 1px;
	color: #000000;
}

.reviews__text{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #283645;
}

.reviews__btn-left,
.reviews__btn-right{
	top: 150px;
	position: absolute;
}

.reviews__btn-left{
	left: -115px;
}

.reviews__btn-right{
	right: -135px;
}

.invisible{
	display: none;
}


/*Прайс*/

.price{
	display: none;
}

.desctop__price{
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 110px;
	padding-bottom: 95px;
}

.price__list{
	width: 940px;
	background-color: #ffffff;
	border-collapse: collapse;
}

.price__list
{
	margin-left: auto;
	margin-right: auto;
}

.desctop__price__list{
	margin-left: 365px;
}

.price__name,
.price__value{
	width: 235px;
}

.price__title{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 18px;
	line-height: 30px;
	background-color: #1B3344;
	color: #ffffff;
	height: 97px;
	border-radius: 2px;

}

.price__title--border{
	border: 2px solid #E6E6E6;
	border-top: 0;
}

.price__title-mony{
	font-family: 'Open Sans Light', sans-serif;
	font-weight: lighter;
	font-size: 24px;
	line-height: 30px;
}

.price__name,
.price__value{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 14px;
	line-height: 30px;
	border: 2px solid #E6E6E6;
	padding-top: 14px;
	padding-bottom: 9px;
	vertical-align: middle;
}

#th-empty{
	background-color: #F2F2F2;
	border-left: 2px solid #F2F2F2;
	border-top: 2px solid #F2F2F2;
}


/*Footer*/

.page-footer{
	padding-top: 60px;
}

.page-footer__title{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #283645;
	width: 465px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

.page-footer__contacts{
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding-top: 55px;
}

.page-footer__contacts{
	text-align: center;
	padding-bottom: 50px;
}

.contacts__title{
	font-family: 'Open Sans Bold', sans-serif;
	font-size: 18px;
	line-height: ;
}

.contacts__text{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 24px;
	display: inline-block;
	padding-top: 25px;
	color: #F42357;
	width: 245px;
}

.page-map{
	display: none;
}

.page-footer__social{
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	width: 940px;
	padding-top: 65px;
	padding-bottom: 70px;
}

.page-footer__links{
	display: flex;
	text-align: center;
	width: 200px;
	justify-content: space-around;
}

.page-footer__links img{
	padding-top: 6px;
}

.page-footer__link{
	padding: 10px;
	border: 3px solid #E9ECED;
	border-radius: 30px;
	width: 28px;
	height: 28px;
}

.page-footer__academy{
	position: relative;
	width: 150px;
}

.page-footer__academy span{
	font-family: 'Open Sans Regular', sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #283645;
	padding-top: 15px;
	display: inline-block;
}

.page-footer__academy img{
	position: absolute;
	top: 8px;
	right: -3px;
}

}